<!-- home.html -->

{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Publicaciones Recientes</h2>
            <!-- Aquí puedes colocar tu contenido actual de publicaciones o cualquier otro contenido -->
            {% for post in posts %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.content }}</p>
                        <p class="card-text"><small class="text-muted">Publicado por {{ post.author }} el {{ post.timestamp }}</small></p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <h2>Lista de amigos</h2>
            
            <ul class="profiles-list">
                {% for user in users %}
                    <li>
                        <a href="{{ url_for('profile', username=user.username) }}">
                            <img src="{{ url_for('static', filename='js/img/images.png') }}" alt="Profile Image" class="profile-image">
                            <p class="profile-name">{{ user.username }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
