<!-- home.html -->

{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Publicaciones Recientes</h2>
            <div class="card mb-3">
                
                <p class="card-text"> <img src="{{ url_for('static', filename='js/img/alisson.jpg') }}" class="silueta-image" alt="Silueta"> Alisson Castillo.</p>
                <img src="{{ url_for('static', filename='js/img/acapulco.jpg') }}" class="card-img-top" alt="Imagen Adicional">
                <div class="card-body">
                    <h5 class="card-title">Acapulco</h5>
                    <p class="card-text">Las mejores vacaciones.</p>
                    <p class="card-text"><small class="text-muted">Publicado el 2023-10-03{{ current_date }}</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Lista de amigos</h2>
            
            <ul class="profiles-list">
                {% for user in users %}
                    <li>
                        <a href="{{ url_for('profile', username=user.username) }}">
                            {% if user.profile_image %}
                                <img src="data:image/jpeg;base64,{{ user.profile_image }}" alt="Profile Image" class="profile-image">
                            {% else %}
                                <img src="{{ url_for('static', filename='js/img/default_profile.png') }}" alt="Profile Image" class="profile-image">
                            {% endif %}
                            <p class="profile-name">{{ user.username }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
